.success-page {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:90%;
  margin-left:4%;    
  background-color: rgba(0,0,0,0.05);
  align-items: center;
  position:relative;
  /* height:auto; */
  }
  
  .success-page h1 {
    color: rgb(178,222,39);
    margin: 0;
    text-align: center;
    margin-bottom:20px;
  }
  
  .success-page p {
    margin: 0;
  }
  
  .success-page strong {
    font-weight: bold;
  }
  
  .page-details{
    display: flex;
    flex-direction: row;
  }

  .user-data{
      margin:10px;
      width:50%;
      text-align: center;
      background-color: rgb(36,37,42);
      color:white;
  }

  .user-resume{
     border-radius: 10px;
     margin:10px;
     width: 50%;
  }

  .cover-letter{
    width:60%;
    margin-left:20%;
    border-radius: 10px;
    padding:10px;
    font-size:large;
    background-color: white;
    color:black;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
   
    .success-page{
      width:88%;
    }
    .page-details{
      display: flex;
      flex-direction: column;
    }
  
    .user-data , .user-resume{
        width:96%;
        border-radius: 10px;
    }

    .user-resume{
      width:100%;
    }
    
  }
  